<h1> <font size="600"><i>ABOUT US</i></font></h1>
<pre>
<p><font size="20"><marquee>
  Welcome to Ira's bank.Bank of India has following branches in Bangalore Urban district. List as follows: A E C S Layout, Banashankari, Bangalore Agri Tech, Bangalore Arb, Bangalore Corporate Banking Branch, Bangalore Institute Of Nursing Branch, Bangalore Large Corporate, Bangalore Main, Bangalore Mid Corporate Peenya, Bangalore Service, Bangalore Ssi, Bangalore Zonal Office, Basveshwar Nagar, Bettahalasur, Byranahalli, Cantonment, Chandapur, Chikballapur, Hanumanthnagar, Hsr Layout, J C Road, J P Nagar, Jayanagar, Jeevan Beema Nagar, Jnana Jyoti Nagar, Koramangala, Mahadevapura, Malleswaram, Malleswaram Hsg, Maratha Mandal, Milk Colony, R T Nagar, Rajajinagar, Rajarajeshwari Nagar, Richmond Town, Rpc Layout, Sahakar Nagar Sanjivini Nagar, Sanjay Nagar, Seshadrinagar, Silicon City College, Somapura, Vidyaranyapura, Vignana Nagar, Virgo Nagar, Visveswarapuram, Whitefield, Yashwantpur Ssi and Yelahanka. You can find bank codes using the branch links.</marquee></font></p></pre>


   <h1><font size="600"> <i>HISTORY</i></font></h1><pre>  <p>
Bank of India was founded on 7 September 1906 by a group of eminent businessmen from Mumbai, Maharashtra, India. The Bank was under private ownership and control till July 1969 when it was nationalised along with 13 other banks.[6]

Beginning with one office in Mumbai, with a paid-up capital of ₹5 million (US$70,000) and 50 employees, the Bank has made a rapid growth over the years and blossomed into a mighty institution with a strong national presence and sizable international operations. In business volume, the Bank occupies a premier position among the nationalised banks.

The bank has over 5100 branches in India spread over all states/ union territories including specialised branches. These branches are controlled through 54 Zonal Offices. There are 60 branches/ offices and 5 Subsidiaries and 1 joint venture abroad.

The Bank came out with its maiden public issue in 1997 and follow on Qualified Institutions Placement in February 2008.

The current bank

Bank of India, Mumbai Main Branch
The earlier holders of the Bank of India name had failed and were no longer in existence by the time a diverse group of Hindus, Muslims, Parsees, and Jews helped establish the present Bank of India in 1906 in Bombay. It was the first bank in India whose promoters aimed to serve all the communities of India. At the time, banks in India were either owned by Europeans and served mainly the interests of the European merchant houses, or by different communities and served the banking needs of their own community.

The promoters incorporated the Bank of India on 7 September 1906 under Act VI of 1882, with an authorised capital of ₹10 million (US$140,000) divided into 100,000 shares each of ₹100 (US$1.40). The promoters placed 55,000 shares privately, and issued 45,000 to the public by way of IPO on 3 October 1906; the bank commenced operations on 1 November 1906.

The lead promoter of the Bank of India was Sir Sassoon J. David (1849–1926). He was a member of the Sassoon family, who in turn were part of a Bombay community of Baghdadi Jews that was notable for its history of social service. Sir David was a prudent banker and remained the bank's chief executive from its founding in 1906 until his death in 1926.

The first board of directors of the bank consisted of Sir Sassoon David, Sir Cowasjee Jehangir, J. Cowasjee Jehangir, Sir Frederick Leigh Croft, Ratanjee Dadabhoy Tata, Gordhandas Khattau, Lalubhai Samaldas, Khetsety Khiasey, Ramnarain Hurnundrai, Jenarrayen Hindoomull Dani, and Noordin Ebrahim Noordin.

In 1921, BoI entered into an agreement with the Bombay Stock Exchange to manage its clearing house.

BoI's international expansion began in 1946 when the bank BoI opened a branch in London, the first Indian bank to do so. This was also the first post-World War II overseas branch of any Indian bank.

The 1950s saw BoI open numerous branches abroad: Tokyo and Osaka in 1950, Singapore in 1951, Kenya and Uganda in 1953, Aden in 1953 or 1954, and Tanganyika in 1955.

After a brief hiatus, BoI returned to international expansion, opening a branch in Hong Kong in 1960. A branch in Nigeria followed in 1962.

Then came nationalizations abroad, and at home. The Government of Tanzania nationalised BoI's operations in Tanzania in 1967 and folded them into the government-owned National Commercial Bank, together with those of Bank of Baroda and several other foreign banks. Two years later, in 1969, the Government of India nationalised the 14 top banks, including Bank of India. In the same year, the People's Democratic Republic of Yemen nationalised BoI's branch in Aden, and the Nigerian and Ugandan governments forced BoI to incorporate its branches in those countries. The next year, National Bank of Southern Yemen incorporated BoI's branch in Yemen, together with those of all the other banks in the country; this is now National Bank of Yemen. BoI was the only Indian bank in the country.

In 1972 BoI sold its Uganda operation to Bank of Baroda. The next year BoI opened a representative office in Jakarta.

In 1974 BoI opened a branch in Paris. This was the first branch of an Indian bank in Europe.

In 1976 the Nigerian government acquired 60% of the shares in Bank of India (Nigeria).

In 1978 BoI opened a branch in New York. Also in the 1970s, BoI opened an agency in San Francisco.

In 1980 Bank of India (Nigeria), changed its name to Allied Bank of Nigeria to reflect the fact that it was no longer a subsidiary of Bank of India.

In 1986 BoI acquired Parur Central Bank in (Ernakulam District, Kerala State) in a rescue. Parur Central Bank (or Karur Central Bank, or Paravur Central Bank) had been founded in 1930, and at the time of its failure had 51 branches. BoI amalgamated Parur Central Bank in 1990.

The next year, 1987, BoI took over the three UK branches of Central Bank of India (CBI). CBI had been caught up in the Sethia fraud and default and the Reserve Bank of India required it to transfer its branches.

2003: BoI opened a representative office in Shenzhen.
2005: BoI opened a representative office in Vietnam.
2006: BoI plans to upgrade the Shenzen and Vietnam representative offices to branches, and to open representative offices in Beijing, Doha, and Johannesburg. In addition, BoI plans to establish a branch in Antwerp and a subsidiary in Dar-es-Salaam, marking its return to Tanzania after 37 years.
In 2007 BoI acquired 76% of Indonesia-based PT Bank Swadesi.

BoI established a wholly owned subsidiary, Bank of India (New Zealand) Ltd., in Auckland, New Zealand on 6 October 2011. Then BoI established a wholly owned subsidiary, Bank of India (Uganda) Ltd., on 18 June 2012. Most recently, BoI opened its wholly owned subsidiary Bank of India (Botswana) Ltd., on 9 August 2013.

Latest
The board of Bank of India is examining the possibility of merger with other banks, based on the synergy in business According to Dinabandhu Mohapatra, Managing Director and Chief Executive Officer said on 17 September 2017 that the bank is in the process of strengthening its systems and processes before exploring merger possibilities</p></pre>